<!DOCTYPE html>

<html>

    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site created by Akos Simonffy. It uses data from mapbox.com and darksky.net.</p>
            <img class="portrait" src="/img/IMG_4702.jpeg">
        </div>
        
        {{>footer}}
    </body>

</html>